In [49]:
import pandas as pd

In [50]:
#Bring in csv
team_data = "Resources/nba_team_stats_00_to_18.csv"

In [51]:
#Extract csv into a Dataframe
team_df = pd.read_csv(team_data, encoding="utf-8")
team_df

,Unnamed: 0,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,SEASON
0,0,Atlanta Hawks,82,29,53,0.354,48.4,113.3,41.4,91.8,...,46.1,25.8,17.0,8.2,5.1,5.5,23.6,22.2,-6.0,2018-19
1,1,Boston Celtics,82,49,33,0.598,48.2,112.4,42.1,90.5,...,44.5,26.3,12.8,8.6,5.3,3.9,20.4,19.5,4.4,2018-19
2,2,Brooklyn Nets,82,42,40,0.512,48.7,112.2,40.3,89.7,...,46.6,23.8,15.1,6.6,4.1,5.3,21.5,22.0,-0.1,2018-19
3,3,Charlotte Hornets,82,39,43,0.476,48.4,110.7,40.2,89.8,...,43.8,23.2,12.2,7.2,4.9,6.0,18.9,20.6,-1.1,2018-19
4,4,Chicago Bulls,82,22,60,0.268,48.5,104.9,39.8,87.9,...,42.9,21.9,14.1,7.4,4.3,5.8,20.3,18.7,-8.4,2018-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,561,Seattle SuperSonics,82,44,38,0.537,48.3,97.3,36.9,81.1,...,41.7,21.9,15.3,8.0,5.0,6.2,21.1,0.1,0.0,2000-01
562,562,Toronto Raptors,82,47,35,0.573,48.7,97.6,37.2,85.0,...,44.5,24.4,13.2,7.3,6.3,5.4,21.3,0.1,2.3,2000-01
563,563,Utah Jazz,82,53,29,0.646,48.2,97.1,36.1,76.7,...,40.6,25.7,15.8,8.1,5.6,5.5,25.7,0.1,4.7,2000-01
564,564,Vancouver Grizzlies,82,23,59,0.280,48.2,91.7,35.0,79.7,...,40.5,23.2,15.7,7.1,4.4,5.8,21.1,0.1,-5.7,2000-01
565,565,Washington Wizards,82,19,63,0.232,48.0,93.2,34.5,78.7,...,41.3,20.1,17.0,7.7,4.7,6.2,23.3,0.1,-6.7,2000-01

In [52]:
#Taking the columns with relevant statistics and creating a new dataframe
new_team_df = team_df[["TEAM", "SEASON", "WIN%", "PTS", "FG%", "FT%", "+/-"]]
new_team_df

                    TEAM   SEASON   WIN%    PTS   FG%   FT%  +/-
0          Atlanta Hawks  2018-19  0.354  113.3  45.1  75.2 -6.0
1         Boston Celtics  2018-19  0.598  112.4  46.5  80.2  4.4
2          Brooklyn Nets  2018-19  0.512  112.2  44.9  74.5 -0.1
3      Charlotte Hornets  2018-19  0.476  110.7  44.8  79.7 -1.1
4          Chicago Bulls  2018-19  0.268  104.9  45.3  78.3 -8.4
..                   ...      ...    ...    ...   ...   ...  ...
561  Seattle SuperSonics  2000-01  0.537   97.3  45.6  73.2  0.0
562      Toronto Raptors  2000-01  0.573   97.6  43.7  74.7  2.3
563            Utah Jazz  2000-01  0.646   97.1  47.1  75.2  4.7
564  Vancouver Grizzlies  2000-01  0.280   91.7  43.9  77.0 -5.7
565   Washington Wizards  2000-01  0.232   93.2  43.9  75.9 -6.7

[566 rows x 7 columns]

In [53]:
#Renaming column "=/-" so that people understand what it is denoting
new_team_df = new_team_df.rename(columns = {"+/-": "Personal Fouls +/-"})
new_team_df

,TEAM,SEASON,WIN%,PTS,FG%,FT%,Personal Fouls +/-
0,Atlanta Hawks,2018-19,0.354,113.3,45.1,75.2,-6.0
1,Boston Celtics,2018-19,0.598,112.4,46.5,80.2,4.4
2,Brooklyn Nets,2018-19,0.512,112.2,44.9,74.5,-0.1
3,Charlotte Hornets,2018-19,0.476,110.7,44.8,79.7,-1.1
4,Chicago Bulls,2018-19,0.268,104.9,45.3,78.3,-8.4
...,...,...,...,...,...,...,...
561,Seattle SuperSonics,2000-01,0.537,97.3,45.6,73.2,0.0
562,Toronto Raptors,2000-01,0.573,97.6,43.7,74.7,2.3
563,Utah Jazz,2000-01,0.646,97.1,47.1,75.2,4.7
564,Vancouver Grizzlies,2000-01,0.280,91.7,43.9,77.0,-5.7
565,Washington Wizards,2000-01,0.232,93.2,43.9,75.9,-6.7

In [54]:
#Drop null values (best practice)
new_team_df = new_team_df.dropna(how="any")

In [55]:
new_team_df

,TEAM,SEASON,WIN%,PTS,FG%,FT%,Personal Fouls +/-
0,Atlanta Hawks,2018-19,0.354,113.3,45.1,75.2,-6.0
1,Boston Celtics,2018-19,0.598,112.4,46.5,80.2,4.4
2,Brooklyn Nets,2018-19,0.512,112.2,44.9,74.5,-0.1
3,Charlotte Hornets,2018-19,0.476,110.7,44.8,79.7,-1.1
4,Chicago Bulls,2018-19,0.268,104.9,45.3,78.3,-8.4
...,...,...,...,...,...,...,...
561,Seattle SuperSonics,2000-01,0.537,97.3,45.6,73.2,0.0
562,Toronto Raptors,2000-01,0.573,97.6,43.7,74.7,2.3
563,Utah Jazz,2000-01,0.646,97.1,47.1,75.2,4.7
564,Vancouver Grizzlies,2000-01,0.280,91.7,43.9,77.0,-5.7
565,Washington Wizards,2000-01,0.232,93.2,43.9,75.9,-6.7

In [56]:
#Combining Team and Season to create new Primary Key. This will also be the primary key of the Injuries data. 
new_team_df["Team Season"] = new_team_df["SEASON"].astype(str) + " " + new_team_df["TEAM"]
new_team_df

,TEAM,SEASON,WIN%,PTS,FG%,FT%,Personal Fouls +/-,Team Season
0,Atlanta Hawks,2018-19,0.354,113.3,45.1,75.2,-6.0,2018-19 Atlanta Hawks
1,Boston Celtics,2018-19,0.598,112.4,46.5,80.2,4.4,2018-19 Boston Celtics
2,Brooklyn Nets,2018-19,0.512,112.2,44.9,74.5,-0.1,2018-19 Brooklyn Nets
3,Charlotte Hornets,2018-19,0.476,110.7,44.8,79.7,-1.1,2018-19 Charlotte Hornets
4,Chicago Bulls,2018-19,0.268,104.9,45.3,78.3,-8.4,2018-19 Chicago Bulls
...,...,...,...,...,...,...,...,...
561,Seattle SuperSonics,2000-01,0.537,97.3,45.6,73.2,0.0,2000-01 Seattle SuperSonics
562,Toronto Raptors,2000-01,0.573,97.6,43.7,74.7,2.3,2000-01 Toronto Raptors
563,Utah Jazz,2000-01,0.646,97.1,47.1,75.2,4.7,2000-01 Utah Jazz
564,Vancouver Grizzlies,2000-01,0.280,91.7,43.9,77.0,-5.7,2000-01 Vancouver Grizzlies
565,Washington Wizards,2000-01,0.232,93.2,43.9,75.9,-6.7,2000-01 Washington Wizards

In [57]:
#Export to csv
new_team_df.to_csv(r'Output/NBA_Team_Stats.csv', index = False)